.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.search-bar {
    margin: 0 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    flex: 1;
}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.profile-thumbnail,
.profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.carrito-icon {
    position: relative;
    text-decoration: none;
}

.contador-carrito {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff4444;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    min-width: 15px;
    text-align: center;
}