
/* Prefijo .restaurante para evitar conflictos */
.restaurante-navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.restaurante-promociones {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.restaurante-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.categorias {
    display: flex;
    overflow-x: auto;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.categorias button {
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.categorias button:hover {
    color: #f59e0b;
}



.promo {
    flex: 1;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-1 {
    background-color: #f59e0b;
}

.promo-2 {
    background-color: #ab6b00;
}

.promo-3 {
    background-color: #f7a1a0;
}

.promo button {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.promo button:hover {
    background-color: #ddd;
}

.recommendaciones {
    padding: 20px;
}

.recommendaciones h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    scroll-margin-top: 100px; }

.recommendaciones-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}


.restaurante-card:hover {
    filter: brightness(0.9); 
}

.restaurante-card img {

    width: 100%;
    height: auto;
    border-radius: 5px;
}
.restaurante-card p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.restaurante-card span {
    font-size: 12px;
    color: #666;
}
