<nav class="menu-navbar">
  <div class="navbar-logo">MiEntrega</div>
  <div class="navbar-location">Ubicación x • Ahora</div>
  <input type="text" class="navbar-search" placeholder="Buscar en MiEntrega">
  <div class="navbar-icons">
      <span class="carrito">🛒</span>
      <span class="menu">☰</span>
  </div>
</nav>

<div class="header">
  <images src="images/Restaurante1.jpg" alt="Imagen del Restaurante" class="header-image">
  <div class="header-content">
      <h1>Pollo Parrilla Regia</h1>
      <div class="header-details">
          <span class="rating">4.9 ★</span>
          <span class="reviews">(55)</span>
          <span class="delivery-cost">• Costo de envío: $17.00 MXN</span>
          <span class="info">• Información</span>
      </div>
      <p class="status">Cierra en 2 min. Haz un pedido rápidamente o considera elegir otra opción</p>
  </div>
</div>

<div class="contenedor">
  <aside class="menu-sidebar">
      <h3>Menú</h3>
      <ul>
          <li>Artículos destacados</li>
          <li>Estilos de Pollo</li>
          <li>Puré de papa asado al carbón</li>
          <li>Sopes (1 pieza grande)</li>
          <li>Quesadillas (1 pieza grande)</li>
          <li>Complementos</li>
          <li>Extras</li>
          <li>Postre</li>
          <li>Bebidas</li>
      </ul>
  </aside>
  
  <main class="contenido">
      <div class="Articulos-dest">
          <h2>Artículos destacados</h2>
          <div class="card-grid">
              <div class="card">
                  <images src="images/Frijolescharros.jpg" alt="Frijoles charros">
                  <div class="card-info">
                      <p>½ L. Frijoles charros</p>
                      <span>$55.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
              <div class="card">
                  <images src="images/Pure.jpg" alt="Con queso">
                  <div class="card-info">
                      <p>Con queso</p>
                      <span>$100.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
              <div class="card">
                  <images src="images/Arroz.jpg" alt="Arroz">
                  <div class="card-info">
                      <p>½ L. Arroz</p>
                      <span>$45.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
              <div class="card">
                  <images src="images/Ensalada.jpg" alt="Ensalada mixta">
                  <div class="card-info">
                      <p>Ensalada mixta</p>
                      <span>$48.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
          </div>
      </div>

      <div class="Estilos-pollo">
          <h2 class="titulo">Estilos de Pollo</h2>
          <div class="card-grid">
              <div class="card">
                  <images src="images/polloparrilla.jpg" alt="parrilla">
                  <div class="card-info">
                      <p>Pollo a la parrilla</p>
                      <span>$110.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
              <div class="card">
                  <images src="images/polloasado.jpg" alt="Pollo asado">
                  <div class="card-info">
                      <p>Pollo Asado</p>
                      <span>$150.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
              <div class="card">
                  <images src="images/pollosalteado.jpg" alt="Salteado">
                  <div class="card-info">
                      <p>Pollo salteado</p>
                      <span>$80.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
              <div class="card">
                  <images src="images/polloteriyaki.jpg" alt="Pollo Teriyaki">
                  <div class="card-info">
                      <p>Pollo estilo teriyaki</p>
                      <span>$90.00</span>
                  </div>
                  <button class="add-button">+</button>
              </div>
          </div>
      </div>
  </main>
</div>
<script src="../JS/Menu.js"></script>
